@page 
@* "{id:int?}/{status?}" *@
@model Reservations.Pages.RoomsModel

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Rooms List</h2>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:80%">
		<thead>
			<tr>
				<th>
					Room Name
				</th>
				<th>
					Current Status
				</th>
				<th>
					Change Status
				</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var obj in Model.Rooms)
				{
					<tr>
					<td width="10%" id="@obj.Id">
						 @obj.Id
					</td>
					<td width="10%" id="@obj.Id@obj.Status">
						@obj.Status 
					</td>
					<td width="60%">
						<div class="col">
							<a class="col-3 btn btn-success 
										id="@obj.Id@obj.Status+ToAvailable"">
								To Available
						</a>
							<a class="col-3 btn btn-warning
								id="@obj.Id@obj.Status+ToCleaning"">
								To Cleaning
							</a>
							<a class="col-3 btn btn-danger
								id="@obj.Id@obj.Status+ToBusy"">
								To Busy
							</a>
							<a class="btn btn-secondary
								id="@obj.Id@obj.Status+ToRenovation"">
								To Renovation
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<script	src="~/js/signalr.js"></script>